@font-face {
    font-family: 'SolaimanLipi';
    src: url(fonts/SolaimanLipi_20-04-07.ttf);
  }

body{
    margin: 0%;
    font-family: SolaimanLipi;
}
p {
    color: dimgray;
}
.red-text {
    color: red;
}
.card {
    height: 400px;
}
.global {
    height: 650px;
}
.global h1 {
    text-align: center;
    
}

.committee {
    margin-top: 20%;
    height: 1900px;
}
.committee h1 {
    text-align: center;
}
.text-highlight {
    color: orange;
}
.top-banner {
    background-image: url('img/bg/top-banner.png');
    background-repeat: no-repeat;
}
.top-banner img{
    width: 80%;
}
.second-banner {
    background-image: url(img/bg/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
}
.third-banner {
    background-image: url(img/bg/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.second-banner img {
    width: 80%;
}
.third-banner img {
    width: 80%;
}
.fourth-banner {
    background-image: url(img/bg/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.fourth-banner img {
    width: 80%;
}
.fifth-banner {
    background-image: url(img/bg/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.fifth-banner img {
    width: 80%;
}
.sixth-banner {
    background-image: url(img/bg/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.sixth-banner p{
    font-size: 18px;
}
.sixth-banner h1 {
    text-align: center;
}
.sixth-banner .card {
    height: 200px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  -20px 20px 60px #bebebe,
             20px -20px 60px #ffffff;
}
.seventh-banner {
    height: 500px;
}

.seventh-banner img {
    width: 80%;
}

.eighth-banner {
    height: 500px;
    background-image: url(img/bg/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.eighth-banner .card {
    height: 200px;
    margin-top: 20px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  -20px 20px 60px #bebebe,
             20px -20px 60px #ffffff;   
}

section{
    height: 500px;
    padding-bottom: 150px;
}
.pay {
    margin-top: 20px;
}

.footer-copyright .container {
    text-align: center;
}

/* Login page css */

.login-panel {
    margin-top: 50px;
}

/* registration page css */
.card {
    border-radius: 10px;
}
.card img {
    margin-top: 150px;
}

/* profile page css */
.card-panel {
    margin-top: 20px;
    border-radius: 10px;
    height: 250px;
    text-align: center;
}

/* policy page css */
.policy {
    padding: 10px;
  
}